# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
backend/venv/
backend/media/

# Environment
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
frontend/dist/
frontend/.angular/
